* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #010c0e;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
    position: relative;
}


/* **************   SIDEBAR MENU */
main>ul {
    list-style: none;
    position: fixed;
    transition: 1s;
}


main>ul>li>a>span>svg {
    margin-right: 5px;
}

#li4 svg {
    color: #666666;
}

#li5 svg {
    color: #a6c737;
}

#li1 {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 100%;
    height: 200px;
}

#li1>img:nth-of-type(1) {
    width: 50%;
    height: auto;
    object-fit: cover;
}

/* #li1 > img:nth-of-type(2){
    width: 80%;
    height: 100%;
} */
#li4,
#li5 {
    position: absolute;
    border: none;
}

#li4 {
    position: absolute;
    bottom: 50px;
}

#li5 {
    position: absolute;
    bottom: 0;
}

#li2 {
    width: 100%;
}


/* ************************************** NAV BAR */
main>div>nav>div:nth-of-type(1) {
    justify-content: flex-start;
    padding-left: 20px;
    position: relative;
}

main>div>nav>div:nth-of-type(1)>input {
    width: 70%;
    height: 40px;
    border-radius: 20px;
    background-color: transparent;
    border: 1px solid #3F3F3F;
    color: #838282;
    font-size: 20px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding-left: 10px;
    outline: none;
}

main>div>nav>div:nth-of-type(1)>span {
    position: absolute;
    left: 63%;
    cursor: pointer;
    display: none;
}

main>div>nav>div:nth-of-type(1)>span>svg {
    color: #3F3F3F;
}

main>div>nav>div:nth-of-type(2) {
    justify-content: flex-end;
    padding-right: 20px;
}

main>div>nav>div:nth-of-type(2)>a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 23px;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    background-color: #1F1F1F;
    color: #ffffff;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

main>div>nav>span>svg {
    color: white;
}


/* ********************************* TOTAL DIV , SCROLL AND SWIPER */
main>div {
    width: 75%;
    height: 100vh;

}

main>div>section {
    width: calc(100% + 20px);
    height: 89vh;
    overflow-y: scroll;
    position: relative;

}

main>div>section>span {
    width: 8px;
    height: 89vh;
    position: fixed;
    z-index: 1000;
    top: 70px;
    right: 0;
    /* border: 1px solid red; */

}

main>div>section>span>span {
    display: flex;
    position: absolute;
    display: none;
    width: 100%;
    height: 100px;
    border-radius: 20px;
    background-color: #767474;
}

main>div>section>div {
    width: 100%;
    padding: 30px;
    background-color: #000;
    overflow-x: hidden;
}

main>div>section>div>div:nth-of-type(1) {
    width: 100%;
    margin-bottom: 30px;
    position: relative;
}

main>div>section>div>div:nth-of-type(1)>span {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    display: none;
    transition: 1s;
    cursor: pointer;
}

main>div>section>div>div:nth-of-type(1)>span:nth-of-type(1) {
    left: 0;
}

main>div>section>div>div:nth-of-type(1)>span:nth-of-type(2) {
    right: -50px;
}

main>div>section>div>div:nth-of-type(1)>span>svg {
    color: white;
}

main>div>section>div>div:nth-of-type(1):hover>span:nth-of-type(2) {
    display: flex;
}

main>div>section>div>div:nth-of-type(1)>.bus {
    display: flex;
    flex-wrap: wrap;
    width: 2000px;
}

main>div>section>div>div:nth-of-type(2) {
    width: 100%;
    margin-bottom: 50px;
}

main>div>section>div>div:nth-of-type(2)>p,
main>div>section>div>div:nth-of-type(1)>p {
    width: 100%;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: white;
    font-weight: bolder;
    font-size: 30px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

main>div>section>div>div:nth-of-type(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
/* ******** */
main>div>section>div>div:nth-of-type(2)>video {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: top;
    border-radius: 10px;
}

main>div>section>div>div:nth-of-type(3) {
    width: 100%;
    height: 300px;
    display: flex;
    align-content: center;
    padding: 10px;
}

main>div>section>div>div:nth-of-type(3)>ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    width: 25%;
    height: 100%;
}

main>div>section>div>div:nth-of-type(3)>ul>li {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
}

main>div>section>div>div:nth-of-type(3)>ul>li>a {
    display: flex;
    width: 100%;
    text-decoration: none;
    color: white;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-transform: capitalize;
    justify-content: flex-start;
    align-items: center;

}

/* ************************** SEARCH PART */
#searchdiv {
    width: 100%;
    height: 70vh;
    display: none;
    flex-wrap: wrap;
}

#searchdiv>div {
    width: 100%;
    height: 50px;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

#searchdiv>div>p,
button {
    width: 20%;
    height: 100%;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #3F3F3F;
    cursor: pointer;
}

#searchdiv>div>button {
    font-size: 2vw;
    border-radius: 30px;
    background-color: #1F1F1F;
    border: none;

}

#searchdiv>ul {
    width: 100%;
    height: 100%;
    list-style: none;
    padding: 20px;
}

#searchdiv>ul>li {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #454545;
    display: flex;
    padding: 20px;
    align-items: center;
    color: #3F3F3F;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 30px;
    display: none;

}

#searchdiv>ul>li:hover {
    background-color: #1f1f1fbc;
    border-radius: 5px;
}

#searchdiv>ul>li>a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #3F3F3F;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 30px;
}

#searchdiv>ul>li>span {
    margin-right: 20px;
}

#searchdiv>ul>li>span:nth-of-type(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}

#searchdiv>ul>li>span:nth-of-type(2) {
    display: flex;
    width: 30px;
    height: 30px;
}











/* ***************************** CLASSES FOR JS PART */

.sidebarul {
    display: block;
    width: 50%;
    height: 100vh;
    list-style: none;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(97, 5, 9, 1) 66%, rgba(113, 1, 1, 1) 100%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.sidebarli {
    width: 100%;
    height: 50px;
    border: 1px solid rgba(15, 181, 181, 0.133);
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 0 20px; */
}

.sidebarli a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebara {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: 0.3s;
    text-decoration: none;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: white;
}


.body {
    width: 100%;
    height: 100vh;
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 10000;
}



.newdiv {
    width: 200px;
    height: 300px;
    background-color: rgb(39, 79, 241);
    display: flex;
    flex-wrap: wrap;

}


.newh2 {
    width: 100%;
    height: 100px;
}

.newimg {
    width: 100%;
    height: 200px;
    object-fit: cover;
}







/* **********************SWIPER */


html,
body {
    position: relative;
    height: 100%;
}


.swiper {
    width: 80%;
    height: 40vh;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 4% !important;
}

@media (max-width: 760px) {
    .swiper-button-next {
        right: 20px;
        transform: rotate(90deg);
    }

    .swiper-button-prev {
        left: 20px;
        transform: rotate(90deg);
    }
}

.swiper-slide img {
    width: 120%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    border-radius: 10px;
}

.swiper-button-next,
.swiper-button-prev {
    color: #ffffffd0 !important;
}